h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h3 {
    color: #27374D;
    font-family: Arial, Helvetica, sans-serif;
}

h5 {
    color: #27374D;
    font-family: Arial, Helvetica, sans-serif;
}

#allFilms {
    width: 70%;
    padding-left: 30px;
}

#filmByZanr {
    width: 70%;
    padding-left: 30px;
}

#uporabnikPodrobnosti {
    width: 70%;
    padding-left: 30px;
}

#genresCard {
    width: 70%;
    background-color: #DDE6ED;
    padding-left: 0px;
}

.background-blue {
    background-color: #27374D;
    color: white;
    margin-left: 10px;
}

.background-red {
    background-color: darkred;
    color: white;
    margin-left: 10px;
}

.border-blue {
    border-color: #27374D;
    color: #27374D;
    margin-left: 10px;
}

.seznami {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}
.seznami li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0 0 .3em;
    height: 1.6em;
    border-radius: 4px;
}
.seznami li:hover {
    color: #607D8B;
    background-color: white;
    left: .1em;
}

